.my-control-label {
    float: left;
    width: 250px;
    padding-top: 5px;
    text-align: left;	
}
.my-controls {
    margin-left: 270px;
}

.my-input {
    float: left;
    width: 150px;
    text-align: left;	
}

