<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>ejb/PatientRef</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.medic.facade.local.PatientFacadeLocal</local>
        <ejb-link>PatientBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/MedicalCardRef</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.medic.facade.local.MedicalCardFacadeLocal</local>
        <ejb-link>MedicalCardBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/AdditionalInfoRef</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.medic.facade.local.AdditionalInfoFacadeLocal</local>
        <ejb-link>AdditionalInfoBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/MedicalHistoryRef</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.medic.facade.local.MedicalHistoryFacadeLocal</local>
        <ejb-link>MedicalHistoryBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/DoctorReceptionRef</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.medic.facade.local.DoctorReceptionFacadeLocal</local>
        <ejb-link>DoctorReceptionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/ExaminationRef</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.medic.facade.local.ExaminationFacadeLocal</local>
        <ejb-link>ExaminationBean</ejb-link>
    </ejb-local-ref>
</web-app>
